# Filtramos el dataframe por nuestro cliente, KFC.

In [8]:
import pandas as pd

# Leer el archivo CSV en un DataFrame
df = pd.read_csv("C:/Users/Fede/Desktop/ETL/3er_Demo/YelpEstados_Nombres.csv")

# Filtrar las filas que contengan 'KFC' en la columna 'Negocio'
df_filtrado = df[df['Negocio'].str.contains('KFC')]

# Imprimir el DataFrame resultante
df_filtrado

,review_id,Usuario,business_id,Estrellas_Negocio,Review,Negocio,Direccion_Negocio,Rating_Usuario,Numero_reviews,attributes,Clasificacion Negocio,hours,Ciudad,estado,anio,mes,dia
25777,q8_h32dLOUNKF-9kIGUZ9Q,sRqTe_onMVAOPbfgyL8eOg,XB6FBOSetUsSb-b9-9Shrw,5,kfc has a winner with their zingers! entrance ...,KFC,7103 Seminole Blvd,1.5,11,"{'RestaurantsTakeOut': 'True', 'RestaurantsRes...","Chicken Shop, Chicken Wings, Fast Food, Restau...","{'Monday': '0:0-0:0', 'Tuesday': '10:30-22:0',...",Seminole,Texas,2017,7,7
25778,Mh5VL4swoTebbLMvz1-lBA,VI_NMk3KwjL7016e8RGILg,XB6FBOSetUsSb-b9-9Shrw,1,the worst attitude by manager alexis babb. i a...,KFC,7103 Seminole Blvd,1.5,11,"{'RestaurantsTakeOut': 'True', 'RestaurantsRes...","Chicken Shop, Chicken Wings, Fast Food, Restau...","{'Monday': '0:0-0:0', 'Tuesday': '10:30-22:0',...",Seminole,Texas,2017,12,8
25779,ZxHg6jrSa-TZ7_WZ5LDOng,QZh0qKxIFKI-YT685j5zZA,XB6FBOSetUsSb-b9-9Shrw,1,i was asked specifically not to go to the semi...,KFC,7103 Seminole Blvd,1.5,11,"{'RestaurantsTakeOut': 'True', 'RestaurantsRes...","Chicken Shop, Chicken Wings, Fast Food, Restau...","{'Monday': '0:0-0:0', 'Tuesday': '10:30-22:0',...",Seminole,Texas,2018,3,22
25780,K9QMXlpmfgBoVRXifdh_ng,c_dUQ1Rp6ydzVjkPvHm03w,XB6FBOSetUsSb-b9-9Shrw,1,wow so where do i begin okay so i got a coupon...,KFC,7103 Seminole Blvd,1.5,11,"{'RestaurantsTakeOut': 'True', 'RestaurantsRes...","Chicken Shop, Chicken Wings, Fast Food, Restau...","{'Monday': '0:0-0:0', 'Tuesday': '10:30-22:0',...",Seminole,Texas,2019,8,5
25781,4J2lhTPCKEK2q2CPC_bPVg,LAzKw66HUy746go3QguL_Q,XB6FBOSetUsSb-b9-9Shrw,5,"we were searching for a kfc near our home, as ...",KFC,7103 Seminole Blvd,1.5,11,"{'RestaurantsTakeOut': 'True', 'RestaurantsRes...","Chicken Shop, Chicken Wings, Fast Food, Restau...","{'Monday': '0:0-0:0', 'Tuesday': '10:30-22:0',...",Seminole,Texas,2019,8,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377059,n1ty5S2HQd1RwhIS7GK3Jw,6i0KvJXzs_0jfv-s-KP6tw,S_tu8JCeZsbpgJsqRFaSBg,1,this place is the worst kfc in the world. i ne...,KFC,10575 N Michigan Rd,1.5,39,"{'NoiseLevel': ""u'average'"", 'Alcohol': ""u'non...","Restaurants, Chicken Wings, Fast Food, Chicken...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-19:0', ...",Carmel,California,2021,1,5
377060,CVSF_sw217LenTLIi-X9FQ,p1H4RuBwbAsI4rZHEOqPPw,S_tu8JCeZsbpgJsqRFaSBg,5,haven't been to a kfc in y e a r s and what a ...,KFC,10575 N Michigan Rd,1.5,39,"{'NoiseLevel': ""u'average'"", 'Alcohol': ""u'non...","Restaurants, Chicken Wings, Fast Food, Chicken...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-19:0', ...",Carmel,California,2021,6,13
377061,oH0sZe1yHFY_k2L-pEY2Og,TR_6pujq8X7xw6ZapDcEog,S_tu8JCeZsbpgJsqRFaSBg,5,"the food is always hot and fresh, the employee...",KFC,10575 N Michigan Rd,1.5,39,"{'NoiseLevel': ""u'average'"", 'Alcohol': ""u'non...","Restaurants, Chicken Wings, Fast Food, Chicken...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-19:0', ...",Carmel,California,2021,1,8
379741,qCm1FRiLjBOCo_I1AbUXiQ,Qn08B-MKSYv4mqrEfoKxgg,xNWueX3uZjmixQUkY38GzQ,5,this location was so good. the drive thru team...,KFC,1925 Lancaster Ave,3.0,5,"{'WiFi': ""'free'"", 'Caters': 'True', 'Ambience...","Restaurants, Chicken Wings, Fast Food, Chicken...","{'Monday': '0:0-0:0', 'Tuesday': '10:30-0:0', ...",Wilmington,California,2020,8,24
379742,vfAwN2s4QA9uYGNsrTYr2A,8b90F6S7OKyza2sXD4JaLA,xNWueX3uZjmixQUkY38GzQ,1,asked for an order of 12 hot wings then ask fo...,KFC,1925 Lancaster Ave,3.0,5,"{'WiFi': ""'free'"", 'Caters': 'True', 'Ambience...","Restaurants, Chicken Wings, Fast Food, Chicken...","{'Monday': '0:0-0:0', 'Tuesday': '10:30-0:0', ...",Wilmington,California,2018,1,14

# Sumamos la cantidad de reviews en la columna "Numero_reviews" y los meses y buscamos un conteo total de reviews por mes.

In [13]:
# Asegurémonos de que las columnas "anio", "mes" y "dia" sean de tipo datetime
df['fecha'] = pd.to_datetime(df['anio'].astype(str) + '-' + df['mes'].astype(str) + '-' + df['dia'].astype(str), format='%Y-%m-%d')


# Filtrar por los años 2020 y 2021
df_filtered = df[(df['fecha'].dt.year == 2020) | (df['fecha'].dt.year == 2021)]

# Realizar la agrupación por año y mes y calcular la suma de reviews
result = df_filtered.groupby(['anio', 'mes']).agg({'Numero_reviews': 'sum', 'fecha': 'count'}).reset_index()
result.rename(columns={'fecha': 'count'}, inplace=True)

# Imprimir el resultado
result

    anio  mes  Numero_reviews  count
0   2020    1         1540638   6253
1   2020    2         1510728   6144
2   2020    3          916060   4281
3   2020    4          416924   2415
4   2020    5          722570   3667
5   2020    6         1160488   4789
6   2020    7         1447306   5577
7   2020    8         1810967   6112
8   2020    9         1781966   6019
9   2020   10         1567175   5601
10  2020   11         1295087   4682
11  2020   12          916627   4541
12  2021    1          915983   4543
13  2021    2         1082617   4601
14  2021    3         1485703   5632
15  2021    4         1598110   5961
16  2021    5         1652065   6391
17  2021    6         1734123   6440
18  2021    7         1816914   6557
19  2021    8         1666919   6278
20  2021    9         1395381   5337
21  2021   10         1167517   5091
22  2021   11         1182188   4693
23  2021   12         1231454   5045

In [3]:
import pandas as pd

# Leer el archivo CSV en un DataFrame
df = pd.read_csv("C:/Users/Fede/Desktop/ETL/3er_Demo/ReseñasKFCMensual.csv")

# Eliminar la columna "Numero_reviews"
df.drop(columns=["Numero_reviews"], inplace=True)

# Renombrar la columna "count" como "Numero_reviews"
df.rename(columns={"count": "Numero_reviews"}, inplace=True)

# Guardar el DataFrame modificado en un nuevo archivo CSV
df.to_csv("C:/Users/Fede/Desktop/ETL/3er_Demo/ReseñasKFCMensual.csv", index=False)

In [4]:
df

    anio  mes  Numero_reviews
0   2020    1            6253
1   2020    2            6144
2   2020    3            4281
3   2020    4            2415
4   2020    5            3667
5   2020    6            4789
6   2020    7            5577
7   2020    8            6112
8   2020    9            6019
9   2020   10            5601
10  2020   11            4682
11  2020   12            4541
12  2021    1            4543
13  2021    2            4601
14  2021    3            5632
15  2021    4            5961
16  2021    5            6391
17  2021    6            6440
18  2021    7            6557
19  2021    8            6278
20  2021    9            5337
21  2021   10            5091
22  2021   11            4693
23  2021   12            5045